html, body {
  margin: 0;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: black;
}
p{
  font-family: "Lato", sans-serif;
  font-size:1.1em;
  letter-spacing: 0.03em;
  line-height: 1.5em;
}

.project_container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1200px;
  overflow: hidden;
}

.white {
  background-color:#fff;
  width: 100%;
  height: 150px;
  z-index: -1;
}

.gray{
  background-color:#f2f2f3;
  padding-bottom:5%;
}

.gray_top{
  margin-top: 10%;
}

.project_title {
  font-size: 3.5em;
  font-weight: 700;
  padding-top: 10%;
  margin-top: 0;
  letter-spacing: 0.1em;
  text-align: left;
  opacity: 0;
  animation: Title 1s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 0;
  position: relative;
}

@keyframes Title {
  0% {
    opacity: 0;
    left: -500px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.orange_border {
  width: 300px;
  border: 4px solid #ee815c;
  margin-top: 0px;
}



.title_container {
  position: relative;
  display: inline-block;
  margin: 2em 0;
  padding: 0px 40px;
  min-width: 120px;
  max-width: 100%;
  background: #14a79c;
  border-radius: 2px;
}

.title_container:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 25px solid #14a79c;
}

.yellow_border {
  width: 80px;
  border: 2px solid #fdd23e;
  position:relative;
  bottom: 30px;
}

.content_title {
  color: #fff;
  letter-spacing: 0.1em;
  font-size: 2.5em;

}



.firstL_content{
  animation: FirstL 1s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 0;
  position: relative;
  animation-delay: 0.7s;
}

@keyframes FirstL {
  0% {
    opacity: 0;
    right: 800px;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    right: 0;
  }
}

.firstR_content{
  animation: FirstR 1s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 0;
  position: relative;
  animation-delay: 0.7s;
}

@keyframes FirstR {
  0% {
    opacity: 0;
    left: 800px;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.secondL_content {
  /* opacity: 0;
  transition: 1s all cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
  left: -800px; */
  animation: SecondL 1s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 0;
  position: relative;
  animation-delay: 1.5s;
}

@keyframes SecondL {
  0% {
    opacity: 0;
    right: 800px;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    right: 0;
  }

}

.secondR_content {
  /* opacity: 0;
  transition: 1s all cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
  right: -800px */
  animation: SecondR 1s forwards cubic-bezier(0.39, 0.575, 0.565, 1);
  opacity: 0;
  position: relative;
  animation-delay: 1.5s;
}

@keyframes SecondR {
  0% {
    opacity: 0;
    left: 800px;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

.thirdL_content{
  opacity: 0;
  transition: 1s all cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
  left: -800px
}

.thirdR_content{
  opacity: 0;
  transition: 1s all cubic-bezier(0.39, 0.575, 0.565, 1);
  position: relative;
  left: 800px
}

.project_content {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}

.whiteBg{
  background-color: #fff;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 6%;
  margin-bottom: 6%;
}

.yellowBG {
  background-color: #fdd23e;
}

.greenBg {
  background-color: #14a79c;
}

.project_content2 {
 width:100%;
  margin-top: 3%;
}

.box {
  width: 50%;
}

.box_container{
  display:flex;
  width: 90%;
  max-width: 12000px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

.projectDeskL {
  width:35%;
  text-align:right;
}

.projectDeskR {
  width:65%;
}

.projectDeskL-2 {
  width:65%;

}
.projectDeskR-2 {
  width:35%;
  text-align:left;
  margin-left:1%;
}

.project_desc {
  margin-top: 0;
}

.main_img {
  width: 90%;
  min-width: 300px;
  max-width: 600px;
}

.project_subtitle {
  font-size: 2.2em;
  letter-spacing: 0.05em;

}

.under{
  background: linear-gradient(transparent 65%, #ee815c 35%);
}


.detail_container {
  border-top: 8px solid #fdd23e;
  background-color: #fff;
  border-radius: 8px;
  width: 90%;
  padding-top: 1%;
  line-height: 1.5em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom:30px;
}

.details {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
}

.details_right {
  margin-left: 5%;
}

.para {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn_container {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn_container a {
  margin: 5px;
  text-decoration: none;
}

.project_btn {
  background-color: #ee815c;
  color: #fff;
  border-radius: 2px;
  width: 100px;
  height: 37px;
  padding-top: 10px;
  font-size: 1.2em;
  box-shadow: 0px 3px 15px #dbdbdb;
  transition: 0.6s;
  cursor: pointer;

}

.project_btn:hover {
  background-color: #C7623D;
  color: #fff;
}


.tutorial_container {
  margin-top: 70px;
  margin-bottom: 70px;
  padding:3% 0% 5% 0%;
}

.tutorial_container h3 {
  font-size: 1.9em;
}

.border_short{
  width: 100px;
  margin-top:-20px;
  margin-bottom: 2.5%;
}

.capture {
  text-align:center;
   margin-top:3%;
   color: #fff;
}

.Yshadow{
  box-shadow: 7px 7px #fdd23e;
}

.footer {
  height: 50px;
  background-color: #575754;
  color: white;
  width: 100vw;
  margin-top: 0px;
  margin-left: 0;
  position: absolute;
  left: 0;
}

.copyright {
  padding-top: 5px;
  font-weight: lighter;
  font-size: 0.8em;
}

@media screen and (max-width: 834px) and (orientation: portrait) {
  .project_content {
    display: flex;
    flex-direction: column;
  }

  .projectDeskL {
  width:100%;
  text-align:center;
}

.projectDeskR {
  width:100%;
}

.projectDeskL-2 {
  width:100%;

}
.projectDeskR-2 {
  width:100%;
  text-align:center;
  margin-left:1%;
}


  .box {
    width: 100%;
  }

  .detail_container {
    height: 400px;
  }

  .tutorial {
    width: 90%;
  }
}

@media screen and (max-width: 480px) and (orientation: portrait) {
}
