html, body {
  margin: 0;
  font-family: "Lato", sans-serif;
  text-align: center;
  color: #575754;
}
p{
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  font-size:1.1em;
  letter-spacing: 0.03em;
  line-height: 1.5em;
}
